<footer class="bg-dark text-light py-4 mt-5">
  <div class="container">
    <div class="row align-items-center text-center text-md-start">
      
      <!-- Left: Company -->
      <div class="col-md-4 mb-3 mb-md-0">
        <h5 class="mb-1">Wanderlust</h5>
        <small>&copy; 2026 Wanderlust Private Limited</small>
      </div>

      <!-- Center: Links -->
      <div class="col-md-4 mb-3 mb-md-0">
        <a href="/privacy" class="text-light text-decoration-none me-3">Privacy</a>
        <a href="/terms" class="text-light text-decoration-none">Terms</a>
      </div>

      <!-- Right: Social Icons -->
      <div class="col-md-4 text-md-end">
        <a href="#" class="text-light me-3 fs-5">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="#" class="text-light me-3 fs-5">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#" class="text-light fs-5">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>

    </div>
  </div>
</footer>